.skills-section {
  margin-bottom: 70px;
}

.skills-header {
  /* font-family: Manrope; */
  font-size: 30px;
  font-weight: 500;
  margin: 12px;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
}
